<template>
  <v-container>
    <v-row class="text-center">
      <v-col cols="12">
        <v-img
          :src="require('../assets/logo.svg')"
          class="my-3"
          contain
          height="140"
        />
      </v-col>

      <v-col class="mb-4">
        <h1 class="display-2 font-weight-bold mb-3">forWoT</h1>
        <p class="subheading font-weight-regular">
          Transformer-based ontology merging for the WoT
        </p>
      </v-col>

      <v-col class="mb-5" cols="12">
        <h2 class="headline font-weight-bold mb-3">Knowledge Extraction</h2>
        <p class="subheading font-weight-regular">
          Perceive the semantics of knowledge graphs.
        </p>
      </v-col>
      <v-col class="mb-5" cols="12">
        <h2 class="headline font-weight-bold mb-3">
          Natural Language Processing
        </h2>
        <p class="subheading font-weight-regular">
          Deep learning algorithms for semantic textual similarity.
        </p>
      </v-col>
      <v-col class="mb-5" cols="12">
        <h2 class="headline font-weight-bold mb-3">AI Explainability</h2>
        <p class="subheading font-weight-regular">
          Emphasize the interoperability need for WoT through "tag clouds".
        </p>
      </v-col>

      <v-col class="mb-5" cols="12">
        <h2 class="headline font-weight-bold mb-3">Navigate</h2>
        <v-row justify="center">
          <router-link
            :to="link.href"
            v-for="(link, i) in internalLinks"
            :key="`navigate-${i}`"
            class="subheading mx-3"
          >
            {{ link.text }}
          </router-link>
        </v-row>
      </v-col>
      <v-col class="mb-5" cols="12">
        <h2 class="headline font-weight-bold mb-3">External Links</h2>
        <v-row justify="center">
          <a
            href="https://gitlab.com/thingenious.io/forwot"
            class="subheading mx-3"
            target="_blank"
            rel="noopener noreferrer"
          >
            Repository
          </a>
          <a
            href="https://thingenious.io/"
            class="subheading mx-3"
            target="_blank"
            rel="noopener noreferrer"
          >
            thingenious.io
          </a>
        </v-row>
      </v-col>
    </v-row>
  </v-container>
</template>

<script lang="ts">
import { dispatchGetDomains } from "@/store/main/actions";
import { readDomains } from "@/store/main/getters";
import Vue from "vue";
export default Vue.extend({
  name: "Home",

  mounted() {
    if (readDomains(this.$store) == null) {
      dispatchGetDomains(this.$store);
    }
  },

  data: () => ({
    internalLinks: [
      {
        text: "Ontologies",
        href: "/ontologies",
      },
      {
        text: "Search",
        href: "/search",
      },
      {
        text: "Word Cloud",
        href: "/wordcloud",
      },
    ],
  }),
});
</script>
