<template>
  <v-container>
    <v-row class="text-center">
      <v-col class="mb-4">
        <h1 class="display-2 font-weight-bold mb-3">Wordcloud</h1>
      </v-col>
    </v-row>
    <v-row class="align-center" v-if="fetching || fetched">
      <v-col class="mb-3">
        <v-img
          v-if="fetching"
          :src="
            $vuetify.theme.dark
              ? require('../assets/loading_dark.gif')
              : require('../assets/loading_light.gif')
          "
          class="my-3"
          contain
          height="60"
        />
      </v-col>
    </v-row>
    <v-row class="align-center" v-else>
      <v-col class="mb-3">
        <v-combobox
          v-model="chips"
          :items="domains"
          chips
          clearable
          label="Domains to include"
          multiple
          prepend-icon="mdi-filter-variant"
          solo
        >
          <template v-slot:selection="{ attrs, item, select, selected }">
            <v-chip
              v-bind="attrs"
              :input-value="selected"
              close
              @click="select"
              @click:close="remove(item)"
            >
              <strong>{{ item }}</strong>
              &nbsp;
              <span>(domain)</span>
            </v-chip>
          </template>
        </v-combobox>
      </v-col>
    </v-row>
    <v-flex class="d-flex" :style="fetched ? {} : { height: 0 }">
      <canvas
        ref="canvas"
        :style="{ display: fetched ? 'inherit' : 'none', margin: '0 auto' }"
        width="0"
        height="0"
      />
    </v-flex>
    <v-flex
      class="d-flex flex-column"
      v-if="stats !== null && stats.domains.length > 1"
      style="margin: 20px"
    >
      <v-row class="align-center">
        <div>Common Words:</div>
        <div
          class="color_preview"
          :style="{
            backgroundColor: stats.common_color,
          }"
        />
      </v-row>
      <v-row
        class="align-center"
        v-for="index in stats.domains.length"
        :key="`colors-${index}`"
      >
        <div>
          {{ stats.domains[index - 1] + ":" }}
        </div>
        <div
          class="color_preview"
          :style="{
            backgroundColor: stats.palette[index - 1],
          }"
        />
      </v-row>
    </v-flex>
    <v-flex class="d-flex flex-row-reverse">
      <v-btn
        @click="submit"
        color="primary"
        v-show="!fetching"
        :disabled="fetching || chips.length < 1"
        style="padding: 10px"
      >
        {{ goBtn }}
      </v-btn>
    </v-flex>
  </v-container>
</template>
<style scoped>
.color_preview {
  width: 24px;
  height: 24px;
  margin-left: 10px;
}
</style>
<script lang="ts">
import Vue, { VueConstructor } from "vue";
import WordCloud from "wordcloud";
import { dispatchGetDomains, dispatchGetStats } from "@/store/main/actions";
import { readDomains } from "@/store/main/getters";
import { StatsResponse } from "@/interfaces/StatsResponse";
const WC_WORDS_THRESHOLD = 80;
const WC_WIDTH = 1024;
const WC_WIDTH_SMALL = 480;
const WC_HEIGHT = 768;
const WC_HEIGHT_SMALL = 360;
const WC_WEIGHT_FACTOR = 5;
const WC_WEIGHT_FACTOR_SMALL = 8;

// prettier-ignore
export default (  //NOSONAR
  Vue as VueConstructor<  //NOSONAR
    Vue & { //NOSONAR
      $refs: { //NOSONAR
        canvas: InstanceType<typeof HTMLCanvasElement>; //NOSONAR
      }; //NOSONAR
    } //NOSONAR
  >
).extend({
  name: "Stats",
  mounted() {
    if (readDomains(this.$store) == null) {
      dispatchGetDomains(this.$store);
    }
  },
  data: () => ({
    fetching: false,
    fetched: false,
    img: null as string | null,
    chips: [] as string[],
    stats: null as StatsResponse | null,
    wc: undefined as typeof WordCloud | undefined,
  }),
  computed: {
    goBtn: function (): string {
      return this.fetched ? "Clear" : "Go!";
    },
    domains: function (): string[] {
      return readDomains(this.$store) ?? [];
    },
  },
  methods: {
    remove(domain: string): void {
      const domainIndex = this.chips.indexOf(domain);
      if (domainIndex >= 0) {
        this.chips.splice(domainIndex, 1);
        this.chips = [...this.chips];
      }
    },
    submit() {
      if (this.fetched) {
        this._clear()
      } else {
        this._fetch();
      }
    },
    _clear() {
      this.fetching = false;
      this.fetched = false;
      this.chips = [];
      this.stats = null;
    },
    _fetch: async function (): Promise<void> {
      this.fetching = true;
      this.fetched = false;
      this.stats = await dispatchGetStats(this.$store, {
        domains: this.chips,
      });
      this.fetching = false;
      if (this.stats != null) {
        this.fetched = true;
        this._draw(this.stats);
      }
    },
    _canvas_width(termsList: (string | number)[][]) {
      return termsList.length > WC_WORDS_THRESHOLD ? WC_WIDTH : WC_WIDTH_SMALL;
    },
    _canvas_height(termsList: (string | number)[][]) {
      return termsList.length > WC_WORDS_THRESHOLD
        ? WC_HEIGHT
        : WC_HEIGHT_SMALL;
    },
    _wc_weight_factor(termsList: (string | number)[][]) {
      return termsList.length > WC_WORDS_THRESHOLD
        ? WC_WEIGHT_FACTOR
        : WC_WEIGHT_FACTOR_SMALL;
    },
    _wc_background() {
      return this.$vuetify.theme.dark ? "#333" : "#eee";
    },
    _wc_word_color(stats: StatsResponse) {
      if (this.chips.length == 1) {
        return this.$vuetify.theme.dark ? "random-light" : "random-dark";
      }
      return function (word: string) {
        return stats.colors[word];
      };
    },
    _draw: function (stats: StatsResponse): void {
      if (this.wc) {
        this.wc.stop();
        if (this.$refs.canvas) {
          const context = this.$refs.canvas.getContext("2d");
          if (context) {
            context.clearRect(
              0,
              0,
              this.$refs.canvas.width,
              this.$refs.canvas.height
            );
          }
        }
      }
      let list = [];
      for (let word in stats.frequencies) {
        list.push([word, stats.frequencies[word]]);
      }
      if (list.length > 0) {
        this.$refs.canvas.width = this._canvas_width(list);
        this.$refs.canvas.height = this._canvas_height(list);
        WordCloud(this.$refs.canvas, {
          list: list,
          shrinkToFit: true,
          weightFactor: this._wc_weight_factor(list),
          minRotation: 0,
          maxRotation: 0,
          shape: "square",
          backgroundColor: this._wc_background(),
          drawOutOfBound: false,
          // gridSize: 18,
          // fontFamily: 'Average, Times, serif',
          color: this._wc_word_color(stats),
          // hover: function (item, dimension, event) { },
          // click: function (item, dimension, event) { }
        });
        this.wc = WordCloud;
      }
    },
  },
});
</script>
